
 
  
  .content {
    position: relative;
    z-index: 2;
    /* Add any additional styles for your content here */
  }
  .custom-table tbody tr {
    height: 80px; /* Adjust the height as needed */

  }

  .custom-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden; 
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  .content {
    position: relative;
    z-index: 2;
    /* Add any additional styles for your content here */
  }

  /* Hide scrollbar but allow scrolling */
.section::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.section {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.content {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.card::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.card {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}