.register-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full viewport height */
    background-color: #f8f9fa; /* Optional: background color */
}

.form-container {
    width: 100%;   
    align-items: center;
    max-width: 400px; /* Optional: limits form width */
    padding: 20px;
    background: white; /* Optional: background color for form */
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: shadow for form */
}



.btn {
    margin-top: 10px;
    max-width:400px;
    width:100%;
}
