.content {
    position: relative;
    z-index: 2;
    /* Add any additional styles for your content here */
  }


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1.4s ease-in-out;
  }