/* Style for the navbar menu when it is active */
.navbar-menu.is-active {
    display: block;
    width:100%;
    padding: 10px;
  }
  

  .navbar-item {
    font-size: 1.1rem;
    color: #333; 
    padding: 10px 15px; 
    text-decoration: none; 
  }

  .navbar-item:hover {
    color: #e2e6ea; /* Change background color on hover */
  }